In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
import numpy as np
import pandas as pd

In [2]:
# Load the uploaded Excel file
file_path = 'produksiPadi.xlsx'
data = pd.read_excel(file_path)

In [3]:
# Display the first few rows of the dataset to understand its structure
data.head()

   Tahun  Produksi Padi(Ton)
0   1970          18693649.0
1   1971          20483687.0
2   1972          19393933.0
3   1973          21490578.0
4   1974          22476073.0

In [4]:
# Cleaning the dataset: Selecting relevant columns
data_cleaned = data[['Tahun', 'Produksi Padi(Ton)']].dropna()

# Rename columns for easier handling
data_cleaned.columns = ['Year', 'Rice_Production']

# Create a lagged feature for Rice Production
data_cleaned['Lagged_Production'] = data_cleaned['Rice_Production'].shift(1)

# Drop rows with NaN values after lagging
data_cleaned = data_cleaned.dropna()

# Splitting the data into 70% training and 30% testing
train_ratio = 0.7
train_size = int(len(data_cleaned) * train_ratio)

train_data = data_cleaned[:train_size]
test_data = data_cleaned[train_size:]

train_X = train_data[['Lagged_Production']]
train_y = train_data['Rice_Production']
test_X = test_data[['Lagged_Production']]
test_y = test_data['Rice_Production']

# Displaying the cleaned and prepared dataset
data_cleaned.head()

   Year  Rice_Production  Lagged_Production
1  1971       20483687.0         18693649.0
2  1972       19393933.0         20483687.0
3  1973       21490578.0         19393933.0
4  1974       22476073.0         21490578.0
5  1975       22339455.0         22476073.0

In [5]:
# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(train_X, train_y)

# Predict on the test set
predictions = model.predict(test_X)

# Evaluate the model
mse = mean_squared_error(test_y, predictions)
rmse = np.sqrt(mse)
mape = mean_absolute_percentage_error(test_y, predictions)

mse, rmse, mape

(np.float64(36788069362837.18),
 np.float64(6065316.921879448),
 np.float64(0.05555596706797071))

- Data Di Atas Adalah Memprediksi produksi padi untuk tahun 2023 dan 2024 menggunakan model ini.