# Nama: Akhmad Haris
# Nim: A11.2022.14626

## Crop Yield Prediction Datase

In [1]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

In [2]:
# Load the dataset to explore its content
file_path = 'yield.csv'
dataset = pd.read_csv(file_path)

### Sample Data (5 Baris Pertama)

In [3]:
# Display the first few rows and basic information about the dataset
dataset_info = dataset.info()
sample_data = dataset.head(5)

dataset_info, sample_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56717 entries, 0 to 56716
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   56717 non-null  object
 1   Domain        56717 non-null  object
 2   Area Code     56717 non-null  int64
 3   Area          56717 non-null  object
 4   Element Code  56717 non-null  int64
 5   Element       56717 non-null  object
 6   Item Code     56717 non-null  int64
 7   Item          56717 non-null  object
 8   Year Code     56717 non-null  int64
 9   Year          56717 non-null  int64
 10  Unit          56717 non-null  object
 11  Value         56717 non-null  int64
dtypes: int64(6), object(6)
memory usage: 5.2+ MB

(None,
   Domain Code Domain  Area Code         Area  Element Code Element  Item Code  \
 0          QC  Crops          2  Afghanistan          5419   Yield         56
 1          QC  Crops          2  Afghanistan          5419   Yield         56
 2          QC  Crops          2  Afghanistan          5419   Yield         56
 3          QC  Crops          2  Afghanistan          5419   Yield         56
 4          QC  Crops          2  Afghanistan          5419   Yield         56

     Item  Year Code  Year   Unit  Value
 0  Maize       1961  1961  hg/ha  14000
 1  Maize       1962  1962  hg/ha  14000
 2  Maize       1963  1963  hg/ha  14260
 3  Maize       1964  1964  hg/ha  14257
 4  Maize       1965  1965  hg/ha  14400  )

- Selanjutnya, kita akan melakukan eksperimen pada subset kecil (5 data) untuk analisis sederhana menggunakan regresi linear. Saya akan memilih data untuk satu negara (Afghanistan) dan satu jenis tanaman (Maize) dari tahun 1961-1965 untuk prediksi hasil panen di tahun berikutnya.

In [4]:
# Filter dataset for a small subset: Afghanistan, Maize, 1961-1965
subset = dataset[(dataset['Area'] == 'Afghanistan') & 
                 (dataset['Item'] == 'Maize') & 
                 (dataset['Year'].between(1961, 1965))]

- Data yang digunakan untuk eksperimen regresi linear adalah hasil panen tanaman jagung (Maize) di Afghanistan dari tahun 1961 hingga 1965.

In [5]:
# Prepare data for regression: Year as independent variable, Value as dependent variable
subset_for_regression = subset[['Year', 'Value']]

subset_for_regression

   Year  Value
0  1961  14000
1  1962  14000
2  1963  14260
3  1964  14257
4  1965  14400

- Regresi linear akan dilakukan dengan variabel independen Tahun dan variabel dependen Hasil Panen (Value). Tujuannya adalah untuk memprediksi hasil panen di tahun-tahun berikutnya, misalnya tahun 1966.

In [6]:
# Extract Year and Value as numpy arrays for regression
X = subset_for_regression['Year'].values.reshape(-1, 1)
y = subset_for_regression['Value'].values

# Initialize and fit the linear regression model
model = LinearRegression()
model.fit(X, y)

# Predict the yield for 1966
year_to_predict = np.array([[1966]])
predicted_value = model.predict(year_to_predict)

#### 1. Persamaan Regresi:
    - Y=105.7×Year−193305.7
        - Slope (kemiringan): 105.7 (peningkatan rata-rata hasil panen per tahun).
        - Intercept (titik potong): -193305.7 (nilai teoretis ketika tahun = 0).
#### 2. Prediksi Tahun 1966:
   > Menggunakan model ini, hasil panen diprediksi sebesar 14.500,5 hg/ha untuk tahun 1966.

In [7]:
# Coefficients and prediction result
slope = model.coef_[0]
intercept = model.intercept_
predicted_value[0], slope, intercept

(np.float64(14500.5),
 np.float64(105.70000000000002),
 np.float64(-193305.70000000004))

### Penjelasan:
- Model ini menunjukkan bahwa hasil panen di Afghanistan untuk jagung meningkat secara konsisten sekitar 105.7 hg/ha setiap tahun dari 1961 hingga 1965.
- Prediksi ini mungkin tidak akurat untuk jangka panjang karena asumsi tren linear, sehingga validasi tambahan pada data lebih luas diperlukan.